@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mg55ep');
  src:  url('../fonts/icomoon.eot?mg55ep#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mg55ep') format('truetype'),
    url('../fonts/icomoon.woff?mg55ep') format('woff'),
    url('../fonts/icomoon.svg?mg55ep#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-to-navigate:before {
  content: "\e905";
  color: #f2dd21;
}
.icon-placeholder:before {
  content: "\e903";
  color: #fff;
}
.icon-calendar:before {
  content: "\e904";
  color: #fff;
}
.icon-fb:before {
  content: "\e902";
}
.icon-icon-instagram:before {
  content: "\e900";
}
.icon-icon-youtube:before {
  content: "\e901";
}
