:root {
    --main-color: #F2DD21;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #333;
    font-weight: 400;
    min-width: 320px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 19px;
        line-height: 1.75;
    }
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.listreset {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 34px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.02;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 94px;
        margin-bottom: 113px;
    }
}

h2 {
    font-weight: 600;
    font-size: 92px;
    line-height: 1.02;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-top: 0;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #333;
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 28px;
    }
}

h4 {
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
    font-size: 17px;
}

@media screen and (min-width: 768px) {
    h4 {
        font-size: 22px;
    }
}

h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #333;
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    h5 {
        font-size: 19px;
        line-height: 1.6;
    }
}

.btn-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    transition: .3s box-shadow;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 12px 12px 12px;
    max-width: 190px;
    flex: 0 0 190px;
    padding: 10px 43px;
    background-image: linear-gradient(158.63deg, #F2DD21 12.82%, #F9E745 27.86%, #FDEB4D 39.98%, #FDEB4D 57.29%, #FAE845 70.74%, #F2DD21 87.9%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    border: 1px solid #FAE845;
}

.btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.btn-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-transparent:hover:before {
    margin-right: 5px;
}

.btn-transparent:before {
    transition: .3s margin-right;
    content: '';
    border-left: 14px solid;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    margin-right: 10px;
}

/*------- header -------*/

#header {
    background-color: var(--main-color);
    position: relative;
    z-index: 1;
}

#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #333;
    text-decoration: none;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    text-align: center;
    border-top: 1px solid #333;
}

@media screen and (min-width: 768px) {
    .menu {
        position: static;
        display: flex !important;
        flex-wrap: wrap;
        max-width: 521px;
        border: 0;
    }
}

.menu li {
    padding: 15px;
    color: #333;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    .menu li {
        padding: 0 22px;
    }
}

.menu a {
    transition: .2s color;
    color: inherit;
    text-decoration: none;
}

.menu a:hover {
    color: #333333b0;
}

.toggle-btn {
    width: 50px;
}

.toggle-btn:after,
.toggle-btn:before {
    display: block;
    content: '';
    height: 2px;
    background-color: #333;
}

.toggle-btn span {
    display: block;
    margin: 10px 0;
    height: 2px;
    background-color: #333;
}

@media screen and (min-width: 768px) {
    .toggle-btn {
        display: none;
    }
}

/*------- section-our-team -------*/
.section-our-team {
    padding-top: 124px;
    padding-bottom: 75px;
}

.section-our-team h3 {
    color: var(--main-color);
}

.team-card {
    max-width: 635px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.team-card img {
    width: 100%;
    height: auto;
}

.team-card .card-text {
    font-size: 19px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.12em;
}

.team-card .card-text p {
    margin: 0;
}


.our-team-slider .slick-dots {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.our-team-slider .slick-dots li {
    margin-left: 4px;
    margin-right: 4px;
}

.our-team-slider .slick-dots button {
    font-size: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #333333;
    border: none;
    cursor: pointer;
}

.our-team-slider .slick-dots li.slick-active button {
    background-color: var(--main-color);
}

/*-------SECTION BANNER-------*/

.section-banner {
    display: flex;
    position: relative;
}

.bg-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.bg-banner:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background-color: rgba(51, 51, 51, .63);
}

.section-banner .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    min-height: 530px;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .section-banner .inner {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        min-height: 1133px;
    }
}

.banner-header {
    position: relative;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.12em;
    color: #fff;
    text-align: center;
    margin-bottom: 34px;
}

@media screen and (min-width: 768px) {
    .banner-header {
        display: flex;
        align-items: center;
        margin-bottom: 82px;
    }
}

.banner-header address {
    font-style: normal;
}

@media screen and (min-width: 768px) {
    .banner-header li {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .banner-header li + li:before {
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        width: 1px;
        height: 26px;
        margin-left: 34px;
        margin-right: 34px;
        background-color: #fff;
    }
}

.banner-header img {
    display: none;
}

@media screen and (min-width: 768px) {
    .banner-header img {
        display: inline-block;
        padding-right: 25px;
    }
}

/* .banner-header i {
    display: none;
} */

/* @media screen and (min-width: 768px) {
    .banner-header i {
        display: inline-block;
        vertical-align: middle;
    }
} */

.banner-content .text {
    color: #fff;
    text-align: center;
    margin-bottom: 39px;
}

@media screen and (min-width: 768px) {
    .banner-content .text {
        margin-bottom: 70px;
    }
}

.banner-content .text p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .to-content-btn {
        margin-top: 150px;
    }

    .to-content-btn i {
        position: absolute;
        left: 430px;
        bottom: 82px;
        color: #F2DD21;
        font-size: 48px;
        animation: bounce 2s infinite;
        transition: .3s color;
    }

    .to-content-btn i:hover {
        color: #ffffff;
        cursor: pointer;
    }
}

/* ------- footer -------
#footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: var(--main-color);
}

#footer .inner {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    #footer .inner {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
}

#footer h3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 31px;
}

@media screen and (min-width: 768px) {
    #footer h3 {
        max-width: 50%;
        flex: 0 0 50%;
        margin-left: auto;
        margin-bottom: 63px;
        text-align: left;
    }
}

#footer h4 {
    max-width: 144px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 23px;
}

@media screen and (min-width: 768px) {
    #footer h4 {
        order: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 50%;
        text-align: left;
        padding-right: 205px;
    }
}

#footer h5 {
    margin-bottom: 8px;
}

.subscribe-from {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .subscribe-from {
        order: 1;
        width: 50%;
        text-align: left;
    }
}

.subscribe-from label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .subscribe-from label {
        text-align: left;
    }
}

.subscribe-from input {
    width: 268px;
    height: 35px;
    border: 1px solid #333;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: var(--main-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 25px;
}

.subscribe-from input::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.56);
}

.subscribe-from input::-moz-placeholder {
    color: rgba(51, 51, 51, 0.56);
}

.subscribe-from input:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.56);
}

.subscribe-from input:-moz-placeholder {
    color: rgba(51, 51, 51, 0.56);
}


.subscribe-from button {
    width: 190px;
    height: 35px;
    background: #333;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 23px;
    color: #fff;
    border: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.address-holder {
    width: 100%;
    text-align: center;
    margin-bottom: 22px;
}

@media screen and (min-width: 480px) {
    .address-holder {
        width: 50%;
        padding: 15px;
        order: 2;
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .address-holder {
        padding-left: 0;
    }
}

.address-holder address {
    max-width: 250px;
    margin: auto;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
    .address-holder address {
        max-width: 175px;
        text-align: left;
        margin-left: 0;
    }
}

.email-holder {
    width: 100%;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 22px;
}

@media screen and (min-width: 480px) {
    .email-holder {
        width: 50%;
        padding: 15px;
        order: 4;
    }
}


@media screen and (min-width: 768px) {
    .email-holder {
        padding-left: 0;
        text-align: left;
    }
}

.email-holder a {
    color: #333;
    text-decoration: none;
}

.email-holder a:hover {
    text-decoration: underline;
}

.soc-netw-holder {
    width: 100%;
    margin-bottom: 19px;
}

@media screen and (min-width: 768px) {
    .soc-netw-holder {
        width: 50%;
        order: 3;
    }
}

.soc-netw-holder ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .soc-netw-holder ul {
        margin-left: 0;
    }
}

.soc-netw-holder a {
    display: block;
    transition: .2s transform;
    color: #3B3A32;
    text-decoration: none;
    transform: rotateY(0);
}

.soc-netw-holder a:hover {
    transform: rotateY(360deg);
}

.copyring {
    width: 100%;
    font-size: 13px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .copyring {
        width: 50%;
        order: 5;
        text-align: left;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
} */

/*---FOOTER---*/

#footer {
    background-color: #F2DD21;
    padding-top: 36px;
    padding-bottom: 42px;
}

#footer .inner {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    #footer .inner {
        max-width: 934px;
        margin: auto;
    }
}

#footer h3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 31px;
}

@media screen and (min-width: 768px) {
    #footer h3 {
        max-width: 59%;
        flex: 0 0 59%;
        margin-left: auto;
        margin-bottom: 63px;
        text-align: left;
    }
}

#footer h4 {
    max-width: 144px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 23px;
}

@media screen and (min-width: 768px) {
    #footer h4 {
        order: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 40%;
        text-align: left;
        padding-right: 195px;
    }
}

#footer h5 {
    margin-bottom: 8px;
}

.subscribe-form {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .subscribe-form {
        order: 1;
        width: 60%;
        text-align: left;
    }
}

.subscribe-form label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: #333333;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .subscribe-form label {
        text-align: left;
    }
}

.subscribe-form input {
    width: 268px;
    height: 35px;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 12px 10px;
    background-color: #F2DD21;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .subscribe-form input {
        width: 360px;
        height: 41px;
        border: 1px solid #333333;
        border-radius: 5px;
        padding: 12px 10px;
        background-color: #F2DD21;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        margin-bottom: 25px;
    }
}

.subscribe-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(51, 51, 51, 0.56);
  }

.subscribe-form input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(51, 51, 51, 0.56);
  }

.subscribe-form input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(51, 51, 51, 0.56);
  }

.subscribe-form input:-moz-placeholder { /* Firefox 18- */
    color: rgba(51, 51, 51, 0.56);
  }

.subscribe-form button {
    width: 190px;
    height: 35px;
    background-color: #333333;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 23px;
    color: #ffffff;
    border: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .3s background-color;
}

.subscribe-form button:hover {
    background: #ffffff;
    color: #333333;
}

@media screen and (min-width: 768px) {
    .subscribe-form button {
        width: 153px;
        height: 41px;
        background: #333333;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
        border-radius: 23px;
        color: #ffffff;
        border: 0;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.54px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 34px;
    }
}

.address-holder {
    text-align: center;
    margin-bottom: 22px;
    width: 100%;
}

@media screen and (min-width: 480px) {
    .address-holder {
        order: 2;
        width: 40%;
        padding: 15px;
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .address-holder {
        padding-left: 0;
    }
}

.address-holder address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    max-width: 250px;
    margin: auto;
}

@media screen and (min-width: 480px) {
    .address-holder address {
        max-width: 140px;
        text-align: left;
        margin-left: 0;
    }
}

.email-holder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 22px;
    width: 100%;
}

@media screen and (min-width: 480px) {
    .email-holder {
        width: 40%;
        padding: 15px;
        order: 4;
    }
}

@media screen and (min-width: 768px) {
    .email-holder {
        padding-left: 0;
        text-align: left;
    }
}

.email-holder a {
    color: #333333;
    text-decoration: none;
}

.email-holder a:hover {
    text-decoration: underline;
}

.soc-netw-holder {
    margin-bottom: 18px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .soc-netw-holder {
        order: 3;
        width: 60%;
        padding-top: 79px;
    }
}

.soc-netw-holder ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .soc-netw-holder ul {
        margin-left: 0;
    }
}

.soc-netw-holder a {
    display: block;
    transition: 1.2s transform;
    color: #3B3A32;
    text-decoration: none;
    transform: rotateY(0);
}

.soc-netw-holder a:hover {
    transform: rotateY(360deg);
}

.copyring {
    font-size: 13px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .copyring {
        order: 5;
        width: 60%;
        padding-top: 53px;
        text-align: left;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

	40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}